---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
  background: url('https://arma3.com/assets/img/bg/default.jpg') #000000;
}

header {
  background: none;
}

.wrapper > nav > ul {
  background-color: rgba(0, 0, 0, 0.4);
}

nav ul li.tag-h1 a {
    color: #fff;
}

#banner {
  background-color: rgba(165, 165, 165, 0.2);
  box-shadow: 0 0 5px 0px #000;
  border: none;
}

#logo {
  color: #fff;
}

footer {
  color: #fff;
}

section {
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px #000;
  color: #d3d3d3;
  font-weight: 300;
}

#banner .fork {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
