---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
  background: url('../img/default.jpg') #000000;
}

header {
  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 10px #000;
}

nav ul li.tag-h1 a {
    color: #fff;
}

#banner {
  background-color: rgba(165, 165, 165, 0.2);
  box-shadow: 0 0 5px 0px #000;
  border: none;
}

#logo {
  color: #fff;
}

footer {
  color: #fff;
}

section {
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px #000;
  color: #d3d3d3;
  font-weight: 300;
}

#banner .social {
  color: #333;
  background-color: #e6e6e6;
  border: 1px solid #adadad;
}

#banner .button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

h1, h2, h3, h4, h5, h6 {
  color: #f3f3f3;
  line-height: 1.1;
}

a {
  color: #2b7bb9;
}

a:hover {
  color: #3b94d9;
}
